body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    min-width: 100%;
    /* background-color: #FF7978;
    background: url(./images/bg-intro-desktop.png); */
    background: linear-gradient(rgba(255, 121, 120, .7) , rgba(255, 121, 120, .7)), url(./images/bg-intro-desktop.png);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
}

.main {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
    /* background-color: yellow; */
    /* width: 100%;
    height: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    padding: 4% 5%;
    gap: 3%;
    min-width: 600px;
    /* margin-inline: 10% */
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: white;
    grid-row-start: 2;
    grid-column-start: 1;
    height: 50%;
    padding-top: 15%;
    font-family: 'Poppins', sans-serif;
}

.text p:nth-of-type(1) {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2rem;
}

.text p:nth-of-type(2) {
    font-size: .55rem;
    line-height: 1rem;
    font-weight: 500;
}

.try-free {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* background-color: lightblue; */
    grid-row-start: 1;
    grid-column-start: 2;
    /* margin: 5%; */
}

.try-free button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #4635c5d7;
    color: white;
    position: relative;
    width: 100%;
    padding: 2% 30px;
    border-radius: 8px;
    white-space: nowrap;
    gap: .25rem;
    font-family: 'Poppins', sans-serif;
}

.try-free button span:nth-of-type(1) {
    font-size: .8rem;
    font-weight: 600;

    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}

.try-free button span:nth-of-type(2) {
    font-size: .6rem;
    font-weight: 400;
    /* display: flex;
    align-items: baseline; */
}

.form {
    background-color: white ;
    border-radius: 10px;
    grid-row-start: 2;
    grid-column-start: 2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    /* position: relative; */
}

.form-container {
    flex: 1;
    padding: 8%;
    gap: max(10px, 5%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    /* top: 4%; */
}

.form input {
    padding: 4% 10%;
    border-radius: 4px;
    border: 1px solid black;
    opacity: .5;
    font-weight: 600;
    font-size: .7rem;
}

.submit-button {
    background-color: hsl(154, 59%, 51%);
    color: white;
    border-style: none;
    padding: 5%;
    text-transform: uppercase;
    font-size: 60%;
    font-weight: 600;
    letter-spacing: .0125rem;
    border-radius: 5px;
    letter-spacing: .075rem;
}

.submit-button:hover {
    background-color: hsl(154, 60%, 42%);
}

.submit-button:active {
    background-color: hsl(154, 59%, 51%);
}

.form-caution {
    font-size: 25%;
    font-weight: 700;
    display: inline-flex;    
    gap: 1%;
    justify-content: center;
    align-items: baseline;
    font-weight: 700;
    opacity: .5;
    position: relative;
    top: -2%
}

#tems-and-services {
    color: red;  
    text-decoration: none;
}

footer {
    min-width: 100%;
}

.attribution {
    position: relative;
    min-width: 100vw;
    top: 95vh;
    padding: auto;
    padding-bottom: 10px;
}

@media (max-width: 400px) {
    body {
        /* height: 2000px;
        width: 2000px; */
        /* min-height: 100vh;
        min-width: 100vw; */
        /* background: black; */

        /* display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center; */

        /* display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-rows: 4fr 2fr 6fr; */

        display: block;
        /* width: 100px; */
        /* height: 100vh; */
    }

    .main {
        display: grid;
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 4fr 2fr 6fr;

        min-width: 100%;
        max-width: 100vw;

        margin: 0;
        padding: 0;
    }

    .text {
        /* display: block; */

        grid-row-start: 1;
        grid-row-end: 2;

        grid-column-start: 2;
        grid-column-end: 2;

        /* min-width: 100%; */

        display: flex;
        flex-direction: colurmn;
        align-self: center;

        text-align: center;

    }

    .text p:nth-of-type(1) {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.5rem;
    }

    .text p:nth-of-type(2) {
        font-size: .75rem;
        line-height: 1.5rem;
        font-weight: 400;
    }

    .try-free {
        /* display: block; */
        grid-row-start: 2;
        grid-row-end: 3;

        min-width: 100%;
    }

    .try-free button {
        min-height: 60%;
        white-space: wrap;
    }

    .form {
        /* display: block; */
        grid-row-start: 3;
        grid-row-end: 4;

        /* max-width: 100%; */

        margin-bottom: 20%;
    }

    .attribution {
        position: relative;
        min-width: 100vw;
        bottom: 5px;
    
        padding: auto;

        padding-bottom: 10px;
    
        /* left: 50%; */
        /* margin-left: -30px; */
        /* transform: translateX(30%); */
    }
}